---
//চোখ
import Main from "../../layouts/main.astro";
import Nl from "../../components/nl.astro";


---
<Main img="/1.jpg" titel="চোখ।"> 
    <div class=" md:text-4xl lg:text-4xl sm:text-lg text-lg font-extrabold">
        <Nl text="চোখ।" />
        <Nl text="ফিরিয়ে নিয়েছে এই চোখ" />
        <Nl text="পলকের থরে থরে" />
        <Nl text="অধরা কাঁপন ঘরে" />
        <Nl text="যে দেখে দেখুক!" />
        <Nl text="এখানে আকার নেই" />
        <Nl text="নেই পরাধীন" />
        <Nl text="নেই নিয়মে বাঁচার তাগিদ।" />
        <Nl text="এখানে 'আছে' নেই" />
        <Nl text="আছে মনোজ-উদ্ভিদ।" />
        <Nl text="চোখ...;" />
        <Nl text="ফিরিয়ে দিয়েছে এই চোখ" />
        <Nl text="দ্বিধা দিয়েছে" />
        <Nl text="বাঁধন দিয়েছে" />
        <Nl text="মুক্তি দিয়েছে... ; এ-ই চোখ।।" />

    </div>
       
</Main>
