---
//প্রত্যয়
import Main from "../../layouts/main.astro";
import Nl from "../../components/nl.astro";
import El from "../../components/el.astro";
import Sel from "../../components/sel.astro";
---
<Main img="/2.jpg" titel="প্রত্যয়">
    <div class=" md:text-4xl lg:text-4xl sm:text-lg text-lg font-extrabold">
        <Nl text="প্রত্যয়;"/>
        <Nl text="জানতে চেয়েছ,"/>
        <El text="আজও একা আছ?"/>
        <Nl text="আমিও যদি তোমায় প্রশ্ন করি; মহাবিশ্বের কোন ক্ষুদ্রতম কনাও কি আছে"/>
        <Nl text="একা?"/>
        <Nl text="ওদের ছুঁয়ে আছে যে বাতাস-বলয়;"/>
        <El text="সে কি স্পর্শ নয়?"/>
        <Nl text="রাতের আকাশে তাকিয়ে দেখো..."/>
        <Nl text="যে তারাদের বিক্ষিপ্ত বিচ্ছিন্ন মনে হয়;"/>
        <Nl text="ওরাও রয়েছে নিজ নিজ কক্ষপথে দৃশ্যত একা...।"/>
        <El text="সে পথই কি ওদের প্রেম নয়?"/>
        <Nl text="যার জীবন ভরা প্রেম,"/>
        <Nl text="সে কী করে একা হয়?"/>
    </div>
       
</Main>