<div class="flex justify-center" style="margin-bottom:60px ;">
    <p>
      <h1 class="text-5xl font-bold " style="margin-top:20px;"> #সোহেলি কথা</h1>
      <hr>
       <div class="stuff">
        <a href="#"></a>
       </div>
    </p>
  </div>